<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356309778013-vfetlkthukk9dk7qbpvis8f35m8mggpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356309778013-vfetlkthukk9dk7qbpvis8f35m8mggpc</string>
	<key>API_KEY</key>
	<string>AIzaSyDaQ41JgfhcwHR-aczb2RLJLBH5cqgtVw8</string>
	<key>GCM_SENDER_ID</key>
	<string>356309778013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carcare</string>
	<key>PROJECT_ID</key>
	<string>carcare-c2dca</string>
	<key>STORAGE_BUCKET</key>
	<string>carcare-c2dca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:356309778013:ios:4ef947144938c9341f17b4</string>
	<key>DATABASE_URL</key>
	<string>https://carcare-c2dca-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
